@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #1d0641;
  height: 80vh;
}

.container {
  width: 50%;
  min-width: 450px;
  margin: auto;
  left: 0;
  right: 0;
  top: 30px;
}

h1 {
  font-size: 3rem;
  color: #000;
  text-align: center;
  justify-content: center;
  margin: 20px auto;
}

#task-form {
  width: 100%;
  margin: 20px auto;
  padding: 30px;
  background-color: #6c5ce7;
  border: 1px solid #5c5c3d;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-container {
  display: flex;
  align-items: center;
}

#task-input {
  flex: 1;
  height: 45px;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  border: 2px solid #d1d3d4;
  border-radius: 10px;
  padding: 12px;
  color: #111111;
  font-weight: 500;
  margin-right: 15px;
}

#task-input:focus {
  outline: none;
  border-color: #1d0641;
}

#task-input::placeholder {
  font-size: 18px;
}

#add-task-btn {
  height: 45px;
  padding: 10px;
  font-size: 16px;
  background-color: #1d0641;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#add-task-btn:hover {
  background-color: green;
}

#task-list {
  margin-top: 20px;
  text-align: left;
  padding: 0;
  margin: 0 auto;
  max-height: 60vh;
  overflow-y: auto;
}

.task-item {
  padding: 10px 10px;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  list-style: none;
}

.task-item:last-child {
  border-bottom: none;
}

.completed {
  text-decoration: line-through;
  color: green;
}

.button-container {
  display: flex;
  gap: 10px;
  float: right;
  margin-left: auto;
}

.edit {
  background-color: yellow;
  color: #1d0641;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-btn {
  position: relative;
  background-color: #ff3f34;
  color: #1d0641;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.edit {
  position: relative;
  margin-right: 0;
}

.check-box {
  position: relative;
  float: left;
  margin-right: 10px;
  margin-top: 7px;
  cursor: pointer;
  font-size: 10px;
}
